@import '../config/variables';
@import "../config/functions";
@import "../config/mixins";
@import "../components/placeholders";

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}