

- 
    let images = [
        {
            title: 'Red road',
            alt: 'Camino de tierra cubierto por hojas rojas que caen de los árboles',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694232/Landscapes/red-road-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694280/Landscapes/red-road-w1701.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694349/Landscapes/red-road-w2504.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694356/Landscapes/red-road-w3160.jpg',
        },
        {
            title: 'Winter landscape',
            alt: 'Paisaje blanco nevado con unos arbóles sin hojas de fondo',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694332/Landscapes/winter-landscape-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694338/Landscapes/winter-landscape-w1291.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694343/Landscapes/winter-landscape-w1656.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694350/Landscapes/winter-landscape-w1920.jpg',
        },
        {
            title: 'The road',
            alt: 'Camino de tierra en un bosque con arbóles de hojas verdes a los lados',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694289/Landscapes/the-road-w190.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694317/Landscapes/the-road-w1111.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694331/Landscapes/the-road-w1579.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694346/Landscapes/the-road-w1920.jpg',
        },
        {
            title: 'Violet sunrise',
            alt: 'Arbol en medio de un lago en el ocaso',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694321/Landscapes/violet-sunset-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694324/Landscapes/violet-sunset-w1064.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694330/Landscapes/violet-sunset-w1544.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694343/Landscapes/violet-sunset-w1920.jpg',
        },
        {
            title: 'Thunderstorm',
            alt: 'Nubes de tormeta en el ocaso en un cielo iluminado por los rayos',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694311/Landscapes/thunderstorm-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694315/Landscapes/thunderstorm-w1115.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694320/Landscapes/thunderstorm-w1572.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694330/Landscapes/thunderstorm-w1920.jpg',
        },
        {
            title: 'Sunset',
            alt: 'Cielo con nubes iluminadas por el sol que sale del horizonte',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694273/Landscapes/sunset-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694286/Landscapes/sunset-w1098.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694303/Landscapes/sunset-w1584.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694310/Landscapes/sunset-w1920.jpg',
        },
        {
            title: 'Scotland',
            alt: 'Camino en una montaña verde con nubes de fondo',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694256/Landscapes/scotland-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694270/Landscapes/scotland-w1167.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694283/Landscapes/scotland-w1592.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694296/Landscapes/scotland-w1920.jpg',
        },
        {
            title: 'Road',
            alt: 'Camino de asfalto en medio de un campo',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694240/Landscapes/road-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694245/Landscapes/road-w780.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694259/Landscapes/road-w1074.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694260/Landscapes/road-w1280.jpg',
        },
        {
            title: 'Pier',
            alt: 'Puente en medio del agua',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694205/Landscapes/pier-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694211/Landscapes/pier-w1297.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694224/Landscapes/pier-w1659.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694242/Landscapes/pier-w1920.jpg',
        },
        {
            title: 'Mill',
            alt: 'Casa al lado de un rio en el el campo con arboles al fondo y platas alrededor',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694156/Landscapes/mill-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694185/Landscapes/mill-w1196.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694197/Landscapes/mill-w1655.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694237/Landscapes/mill-w1920.jpg',
        },
        {
            title: 'Mountains',
            alt: 'Montañas nevadas frente a un jardín verde con flores rosas',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694194/Landscapes/mountains-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694204/Landscapes/mountains-w1063.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694228/Landscapes/mountains-w1536.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694236/Landscapes/mountains-w1920.jpg',
        },
        {
            title: 'Mountain landscape',
            alt: 'Sendero de ascenso a una montaña nevada con flores a los lados',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694173/Landscapes/mountain-landscape-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694192/Landscapes/mountain-landscape-w1173.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694228/Landscapes/mountain-landscape-w1597.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694252/Landscapes/mountain-landscape-w1920.jpg',
        },
        {
            title: 'Lone tree',
            alt: 'Arbol solo en medio de un lago',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694140/Landscapes/lone-tree-w190.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694150/Landscapes/lone-tree-w1195.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694171/Landscapes/lone-tree-w1601.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694193/Landscapes/lone-tree-w1920.jpg',
        },
        {
            title: 'Green forest',
            alt: 'Bosque verde iluminado por los rayos del sol',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694093/Landscapes/green-forest-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694122/Landscapes/green-forest-w1229.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694133/Landscapes/green-forest-w1669.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694187/Landscapes/green-forest-w1920.jpg',
        },
        {
            title: 'Landscape sunset',
            alt: 'Lago en medio de un paisaje iluminado por los rayos del sol',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694129/Landscapes/landscape-sunset-w190.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694139/Landscapes/landscape-sunset-w1115.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694152/Landscapes/landscape-sunset-w1568.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694159/Landscapes/landscape-sunset-w1920.jpg',
        },
        {
            title: 'Landscape green',
            alt: 'Paisaje verde con nubes sobre los arboles',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694114/Landscapes/landscape-green-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694129/Landscapes/landscape-green-w1160.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694141/Landscapes/landscape-green-w1599.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694157/Landscapes/landscape-green-w1920.jpg',
        },
        {
            title: 'Boat',
            alt: 'Bote en la orilla de un rio de un bosque verde',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694030/Landscapes/boat-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694052/Landscapes/boat-w1152.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694073/Landscapes/boat-w1621.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694127/Landscapes/boat-w1920.jpg',
        },
        {
            title: 'Forest',
            alt: 'Bosque con arboles muy altos envueltos por una espesa niebla',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694056/Landscapes/forest-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694091/Landscapes/forest-w1176.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694111/Landscapes/forest-w1636.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694126/Landscapes/forest-w1920.jpg',
        },
        {
            title: 'Canyon',
            alt: 'Cañon verde con arboles y plantas',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694054/Landscapes/canyon-w190.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694068/Landscapes/canyon-w1219.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694082/Landscapes/canyon-w1609.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694098/Landscapes/canyon-w1920.jpg',
        },
        {
            title: 'Evening',
            alt: 'Montañas cubiertas por niebla iluminada por el sol que va ocultandose en el horizonte',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694030/Landscapes/evening-w360.png',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694049/Landscapes/evening-w851.png',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694071/Landscapes/evening-w1124.png',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694097/Landscapes/evening-w1280.png',
        },
        {
            title: 'Dog',
            alt: 'Lobo al lado de un arbol auyandole a la luna',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694021/Landscapes/dog-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694034/Landscapes/dog-w1075.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694053/Landscapes/dog-w1544.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694061/Landscapes/dog-w1920.jpg',
        },
        {
            title: 'Bled',
            alt: 'Lago iluminado por la luz tenue del anochecer',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694017/Landscapes/bled-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694021/Landscapes/bled-w1053.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694027/Landscapes/bled-w1529.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694042/Landscapes/bled-w1920.jpg',
        },
        {
            title: 'Dawn',
            alt: 'Vista desde lo alto de una montaña con el sol saliendo en el horizonte',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694000/Landscapes/dawn-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694008/Landscapes/dawn-w1099.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694021/Landscapes/dawn-w1621.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694018/Landscapes/dawn-w1920.jpg',
        },
        {
            title: 'Clouds country',
            alt: 'Rio cubierto de niebla rodeado de montañas y bosque',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694074/Landscapes/clouds-country-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694081/Landscapes/clouds-country-w1110.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694017/Landscapes/clouds-country-w1615.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694026/Landscapes/clouds-country-w1999.jpg',
        },
        {
            title: 'Autumn',
            alt: 'Rio con arboles alrededor con el sol saliendo en el horizonte',
            class: 'image',
            urlSmall: 'https://res.cloudinary.com/leonemil/image/upload/v1578694000/Landscapes/autumn-w360.jpg',
            urlMedium: 'https://res.cloudinary.com/leonemil/image/upload/v1578694009/Landscapes/autumn-w776.jpg',
            urlLarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694028/Landscapes/autumn-w1070.jpg',
            urlXlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1578694016/Landscapes/autumn-w1280.jpg',
        },
    ]

- 
    if(production) {
        images = [
            {
                title: 'Red road',
                alt: 'Camino de tierra cubierto por hojas rojas que caen de los árboles',
                class: 'image',
                urlSmall: `${path}/red-road-w360.jpg`,
                urlMedium: `${path}/red-road-w1701.jpg`,
                urlLarge: `${path}/red-road-w2504.jpg`,
                urlXlarge: `${path}/red-road-w3160.jpg`,
            },
            {
                title: 'Winter landscape',
                alt: 'Paisaje blanco nevado con unos arbóles sin hojas de fondo',
                class: 'image',
                urlSmall: `${path}/winter-landscape-w360.jpg`,
                urlMedium: `${path}/winter-landscape-w1291.jpg`,
                urlLarge: `${path}/winter-landscape-w1656.jpg`,
                urlXlarge: `${path}/winter-landscape-w1920.jpg`,
            },
            {
                title: 'The road',
                alt: 'Camino de tierra en un bosque con arbóles de hojas verdes a los lados',
                class: 'image',
                urlSmall: `${path}/the-road-w190.jpg`,
                urlMedium: `${path}/the-road-w1111.jpg`,
                urlLarge: `${path}/the-road-w1579.jpg`,
                urlXlarge: `${path}/the-road-w1920.jpg`,
            },
            {
                title: 'Violet sunrise',
                alt: 'Arbol en medio de un lago en el ocaso',
                class: 'image',
                urlSmall: `${path}/violet-sunset-w360.jpg`,
                urlMedium: `${path}/violet-sunset-w1064.jpg`,
                urlLarge: `${path}/violet-sunset-w1544.jpg`,
                urlXlarge: `${path}/violet-sunset-w1920.jpg`,
            },
            {
                title: 'Thunderstorm',
                alt: 'Nubes de tormeta en el ocaso en un cielo iluminado por los rayos',
                class: 'image',
                urlSmall: `${path}/thunderstorm-w360.jpg`,
                urlMedium: `${path}/thunderstorm-w1115.jpg`,
                urlLarge: `${path}/thunderstorm-w1572.jpg`,
                urlXlarge: `${path}/thunderstorm-w1920.jpg`,
            },
            {
                title: 'Sunset',
                alt: 'Cielo con nubes iluminadas por el sol que sale del horizonte',
                class: 'image',
                urlSmall: `${path}/sunset-w360.jpg`,
                urlMedium: `${path}/sunset-w1098.jpg`,
                urlLarge: `${path}/sunset-w1584.jpg`,
                urlXlarge: `${path}/sunset-w1920.jpg`,
            },
            {
                title: 'Scotland',
                alt: 'Camino en una montaña verde con nubes de fondo',
                class: 'image',
                urlSmall: `${path}/scotland-w360.jpg`,
                urlMedium: `${path}/scotland-w1167.jpg`,
                urlLarge: `${path}/scotland-w1592.jpg`,
                urlXlarge: `${path}/scotland-w1920.jpg`,
            },
            {
                title: 'Road',
                alt: 'Camino de asfalto en medio de un campo',
                class: 'image',
                urlSmall: `${path}/road-w360.jpg`,
                urlMedium: `${path}/road-w780.jpg`,
                urlLarge: `${path}/road-w1074.jpg`,
                urlXlarge: `${path}/road-w1280.jpg`,
            },
            {
                title: 'Pier',
                alt: 'Puente en medio del agua',
                class: 'image',
                urlSmall: `${path}/pier-w360.jpg`,
                urlMedium: `${path}/pier-w1297.jpg`,
                urlLarge: `${path}/pier-w1659.jpg`,
                urlXlarge: `${path}/pier-w1920.jpg`,
            },
            {
                title: 'Mill',
                alt: 'Casa al lado de un rio en el el campo con arboles al fondo y platas alrededor',
                class: 'image',
                urlSmall: `${path}/mill-w360.jpg`,
                urlMedium: `${path}/mill-w1196.jpg`,
                urlLarge: `${path}/mill-w1655.jpg`,
                urlXlarge: `${path}/mill-w1920.jpg`,
            },
            {
                title: 'Mountains',
                alt: 'Montañas nevadas frente a un jardín verde con flores rosas',
                class: 'image',
                urlSmall: `${path}/mountains-w360.jpg`,
                urlMedium: `${path}/mountains-w1063.jpg`,
                urlLarge: `${path}/mountains-w1536.jpg`,
                urlXlarge: `${path}/mountains-w1920.jpg`,
            },
            {
                title: 'Mountain landscape',
                alt: 'Sendero de ascenso a una montaña nevada con flores a los lados',
                class: 'image',
                urlSmall: `${path}/mountain-landscape-w360.jpg`,
                urlMedium: `${path}/mountain-landscape-w1173.jpg`,
                urlLarge: `${path}/mountain-landscape-w1597.jpg`,
                urlXlarge: `${path}/mountain-landscape-w1920.jpg`,
            },
            {
                title: 'Lone tree',
                alt: 'Arbol solo en medio de un lago',
                class: 'image',
                urlSmall: `${path}/lone-tree-w190.jpg`,
                urlMedium: `${path}/lone-tree-w1195.jpg`,
                urlLarge: `${path}/lone-tree-w1601.jpg`,
                urlXlarge: `${path}/lone-tree-w1920.jpg`,
            },
            {
                title: 'Green forest',
                alt: 'Bosque verde iluminado por los rayos del sol',
                class: 'image',
                urlSmall: `${path}/green-forest-w360.jpg`,
                urlMedium: `${path}/green-forest-w1229.jpg`,
                urlLarge: `${path}/green-forest-w1669.jpg`,
                urlXlarge: `${path}/green-forest-w1920.jpg`,
            },
            {
                title: 'Landscape sunset',
                alt: 'Lago en medio de un paisaje iluminado por los rayos del sol',
                class: 'image',
                urlSmall: `${path}/landscape-sunset-w190.jpg`,
                urlMedium: `${path}/landscape-sunset-w1115.jpg`,
                urlLarge: `${path}/landscape-sunset-w1568.jpg`,
                urlXlarge: `${path}/landscape-sunset-w1920.jpg`,
            },
            {
                title: 'Landscape green',
                alt: 'Paisaje verde con nubes sobre los arboles',
                class: 'image',
                urlSmall: `${path}/landscape-green-w360.jpg`,
                urlMedium: `${path}/landscape-green-w1160.jpg`,
                urlLarge: `${path}/landscape-green-w1599.jpg`,
                urlXlarge: `${path}/landscape-green-w1920.jpg`,
            },
            {
                title: 'Boat',
                alt: 'Bote en la orilla de un rio de un bosque verde',
                class: 'image',
                urlSmall: `${path}/boat-w360.jpg`,
                urlMedium: `${path}/boat-w1152.jpg`,
                urlLarge: `${path}/boat-w1621.jpg`,
                urlXlarge: `${path}/boat-w1920.jpg`,
            },
            {
                title: 'Forest',
                alt: 'Bosque con arboles muy altos envueltos por una espesa niebla',
                class: 'image',
                urlSmall: `${path}/forest-w360.jpg`,
                urlMedium: `${path}/forest-w1176.jpg`,
                urlLarge: `${path}/forest-w1636.jpg`,
                urlXlarge: `${path}/forest-w1920.jpg`,
            },
            {
                title: 'Canyon',
                alt: 'Cañon verde con arboles y plantas',
                class: 'image',
                urlSmall: `${path}/canyon-w190.jpg`,
                urlMedium: `${path}/canyon-w1219.jpg`,
                urlLarge: `${path}/canyon-w1609.jpg`,
                urlXlarge: `${path}/canyon-w1920.jpg`,
            },
            {
                title: 'Evening',
                alt: 'Montañas cubiertas por niebla iluminada por el sol que va ocultandose en el horizonte',
                class: 'image',
                urlSmall: `${path}/evening-w360.png`,
                urlMedium: `${path}/evening-w851.png`,
                urlLarge: `${path}/evening-w1124.png`,
                urlXlarge: `${path}/evening-w1280.png`,
            },
            {
                title: 'Dog',
                alt: 'Lobo al lado de un arbol auyandole a la luna',
                class: 'image',
                urlSmall: `${path}/dog-w360.jpg`,
                urlMedium: `${path}/dog-w1075.jpg`,
                urlLarge: `${path}/dog-w1544.jpg`,
                urlXlarge: `${path}/dog-w1920.jpg`,
            },
            {
                title: 'Bled',
                alt: 'Lago iluminado por la luz tenue del anochecer',
                class: 'image',
                urlSmall: `${path}/bled-w360.jpg`,
                urlMedium: `${path}/bled-w1053.jpg`,
                urlLarge: `${path}/bled-w1529.jpg`,
                urlXlarge: `${path}/bled-w1920.jpg`,
            },
            {
                title: 'Dawn',
                alt: 'Vista desde lo alto de una montaña con el sol saliendo en el horizonte',
                class: 'image',
                urlSmall: `${path}/dawn-w360.jpg`,
                urlMedium: `${path}/dawn-w1099.jpg`,
                urlLarge: `${path}/dawn-w1621.jpg`,
                urlXlarge: `${path}/dawn-w1920.jpg`,
            },
            {
                title: 'Clouds country',
                alt: 'Rio cubierto de niebla rodeado de montañas y bosque',
                class: 'image',
                urlSmall: `${path}/clouds-country-w360.jpg`,
                urlMedium: `${path}/clouds-country-w1110.jpg`,
                urlLarge: `${path}/clouds-country-w1615.jpg`,
                urlXlarge: `${path}/clouds-country-w1999.jpg`,
            },
            {
                title: 'Autumn',
                alt: 'Rio con arboles alrededor con el sol saliendo en el horizonte',
                class: 'image',
                urlSmall: `${path}/autumn-w360.jpg`,
                urlMedium: `${path}/autumn-w776.jpg`,
                urlLarge: `${path}/autumn-w1070.jpg`,
                urlXlarge: `${path}/autumn-w1280.jpg`,
            },
        ]
    }