- let production = false
- let path = 'public/img'

- let pageTitle = 'Home'
- let pageDescription = 'Pagina inicial del boilerplate'
- let pageImage = 'https://p7.hiclipart.com/preview/136/286/370/computer-icons-website-favicon-world-wide-web-www-site-internet-icon.jpg'

- 
  let pages = [
    {
      title: "Inicio",
      url: "#"
    },
    {
      title: "Acerca de",
      url: "#"
    },
    {
      title: "Contacto",
      url: "#"
    },
  ]