extends ../config/_template
append config

block main
    main.main
        each image in images 
            picture.image-container
                source(srcset= image.urlXlarge, media="(min-width: 1200px)" class= image.class)
                source(srcset= image.urlLarge, media="(min-width: 992px)" class= image.class)
                source(srcset= image.urlMedium, media="(min-width: 600px)" class= image.class)
                img(src= image.urlSmall, alt= image.alt class= image.class)



