@import '../config/variables';
@import "../config/functions";
@import "../config/mixins";
@import "../components/placeholders";

.body {
    background-color: $blue;
    color: $white;
}

.main-menu__link {
    color: $white;
}