@import "../config/variables";
@import "../config/functions";
@import "../config/mixins";
@import "../components/placeholders";

.body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main-menu__item {
    list-style: none;
}